* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-container__news-posts {
  display: grid;
}

.news-container__categories,
.news-container__stock-market {
  display: flex;
  align-items: baseline;
}

.color-grey {
  color: grey;
  font-size: small;
}

.news-container__stock-market__item,
.news-container__news-posts__item,
.news-container__categories__item,
.search-nav__item,
.other-item {
  margin: 1.5vh 0.5vw;
  text-decoration: none;
  color: black;
}

.advertising {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5vw;
}

.advertising__item-img,
.search-input__img {
  width: 100px;
  height: 100px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3,
h4 {
  color: cornflowerblue;
}
input {
  width: -webkit-fill-available;
  margin: 1vw;
}
.search-nav {
  display: flex;
  padding: 1vw;
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.baner {
  display: flex;
  margin: 10vh 0;
  justify-content: center;
}
.baner-img {
  height: 30vh;
  width: 55vw;
}

.other-columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}
.other-columns__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
